@mixin pravilaZaSlike {
    background-size: cover;
    background-position: center;
    transition: transform .3s;
    &:hover{
        transform:translateY(-1.5rem) scale(1.03)
    }
}

@mixin praviloZaDugme{

    &,
    &:link,
    &:visited {
      
        text-decoration: none;
        display: inline-block;
        border-radius: 15px;
        transition: all .2s;
        position: relative;
        font-size: 17px;
        border: none;
        cursor: pointer;
        
    }
    &:focus{
        outline: none;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(to right, #bebbbb ,#f6e9d9);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
}

@mixin praviloZaPozadinu {
    background-color:rgb(107, 54, 54);
    background-image: linear-gradient(to bottom, rgba(#c0b283, 0.8), rgba(#dcd0c0, 0.8)),url(../images/cvece.jpg);
    background-size: cover;
}


//MEDIA QUERY
/*
0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tablet landscape
1200-1800px: normal style


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint){

    @if $breakpoint == smallPhone{
        @media(max-width: 25em){ //400px
            @content
        };
    }
	@if $breakpoint == phone{
		@media (max-width:37.5em ){  //600px
		@content
		};
	}

		@if $breakpoint == tab-port{
		@media (max-width:56.25em ){     //900px
		@content
		};
	}
	
		@if $breakpoint == tab-land{
		@media (max-width:75em ){  //1200
		@content
		};
	}

		@if $breakpoint == big-desktop{
		@media (min-width:112.5em ){  //1800
		@content
		};
	}
}